@model NBAMvc1._1.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1>Smooth move!</h1>
<h4>Its broken now</h4>
<h6>So thanks.</h6>

<p>Code: @Model.Code</p>
<p>Message: @Model.Message</p>
<p>Path: @Model.Path</p>