@model NBAMvc1._1.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Season" class="control-label"></label>
                <input asp-for="Season" class="form-control" />
                <span asp-validation-for="Season" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamID" class="control-label"></label>
                <select asp-for="HomeTeamID" class ="form-control" asp-items="ViewBag.HomeTeamID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamID" class="control-label"></label>
                <select asp-for="AwayTeamID" class ="form-control" asp-items="ViewBag.AwayTeamID"></select>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamScore" class="control-label"></label>
                <input asp-for="HomeTeamScore" class="form-control" />
                <span asp-validation-for="HomeTeamScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamScore" class="control-label"></label>
                <input asp-for="AwayTeamScore" class="form-control" />
                <span asp-validation-for="AwayTeamScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated" class="control-label"></label>
                <input asp-for="Updated" class="form-control" />
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointSpread" class="control-label"></label>
                <input asp-for="PointSpread" class="form-control" />
                <span asp-validation-for="PointSpread" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverUnder" class="control-label"></label>
                <input asp-for="OverUnder" class="form-control" />
                <span asp-validation-for="OverUnder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamMoneyLine" class="control-label"></label>
                <input asp-for="AwayTeamMoneyLine" class="form-control" />
                <span asp-validation-for="AwayTeamMoneyLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamMoneyLine" class="control-label"></label>
                <input asp-for="HomeTeamMoneyLine" class="form-control" />
                <span asp-validation-for="HomeTeamMoneyLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
