@model NBAMvc1._1.Models.Standings

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Standings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamID" class="control-label"></label>
                <select asp-for="TeamID" class ="form-control" asp-items="ViewBag.TeamID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Wins" class="control-label"></label>
                <input asp-for="Wins" class="form-control" />
                <span asp-validation-for="Wins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Losses" class="control-label"></label>
                <input asp-for="Losses" class="form-control" />
                <span asp-validation-for="Losses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Percentage" class="control-label"></label>
                <input asp-for="Percentage" class="form-control" />
                <span asp-validation-for="Percentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConferenceWins" class="control-label"></label>
                <input asp-for="ConferenceWins" class="form-control" />
                <span asp-validation-for="ConferenceWins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConferenceLosses" class="control-label"></label>
                <input asp-for="ConferenceLosses" class="form-control" />
                <span asp-validation-for="ConferenceLosses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DivisionWins" class="control-label"></label>
                <input asp-for="DivisionWins" class="form-control" />
                <span asp-validation-for="DivisionWins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DivisionLosses" class="control-label"></label>
                <input asp-for="DivisionLosses" class="form-control" />
                <span asp-validation-for="DivisionLosses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeWins" class="control-label"></label>
                <input asp-for="HomeWins" class="form-control" />
                <span asp-validation-for="HomeWins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeLosses" class="control-label"></label>
                <input asp-for="HomeLosses" class="form-control" />
                <span asp-validation-for="HomeLosses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayWins" class="control-label"></label>
                <input asp-for="AwayWins" class="form-control" />
                <span asp-validation-for="AwayWins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayLosses" class="control-label"></label>
                <input asp-for="AwayLosses" class="form-control" />
                <span asp-validation-for="AwayLosses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastTenWins" class="control-label"></label>
                <input asp-for="LastTenWins" class="form-control" />
                <span asp-validation-for="LastTenWins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastTenLosses" class="control-label"></label>
                <input asp-for="LastTenLosses" class="form-control" />
                <span asp-validation-for="LastTenLosses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Streak" class="control-label"></label>
                <input asp-for="Streak" class="form-control" />
                <span asp-validation-for="Streak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GamesBack" class="control-label"></label>
                <input asp-for="GamesBack" class="form-control" />
                <span asp-validation-for="GamesBack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
