@model NBAMvc1._1.Models.PlayerGameStats

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PlayerGameStats</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StatID" class="control-label"></label>
                <input asp-for="StatID" class="form-control" />
                <span asp-validation-for="StatID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerID" class="control-label"></label>
                <select asp-for="PlayerID" class ="form-control" asp-items="ViewBag.PlayerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameID" class="control-label"></label>
                <select asp-for="GameID" class ="form-control" asp-items="ViewBag.GameID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Updated" class="control-label"></label>
                <input asp-for="Updated" class="form-control" />
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Minutes" class="control-label"></label>
                <input asp-for="Minutes" class="form-control" />
                <span asp-validation-for="Minutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldGoalsMade" class="control-label"></label>
                <input asp-for="FieldGoalsMade" class="form-control" />
                <span asp-validation-for="FieldGoalsMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldGoalsAttempted" class="control-label"></label>
                <input asp-for="FieldGoalsAttempted" class="form-control" />
                <span asp-validation-for="FieldGoalsAttempted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldGoalsPercentage" class="control-label"></label>
                <input asp-for="FieldGoalsPercentage" class="form-control" />
                <span asp-validation-for="FieldGoalsPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThreePointersMade" class="control-label"></label>
                <input asp-for="ThreePointersMade" class="form-control" />
                <span asp-validation-for="ThreePointersMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThreePointersAttempted" class="control-label"></label>
                <input asp-for="ThreePointersAttempted" class="form-control" />
                <span asp-validation-for="ThreePointersAttempted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThreePointersPercentage" class="control-label"></label>
                <input asp-for="ThreePointersPercentage" class="form-control" />
                <span asp-validation-for="ThreePointersPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FreeThrowsMade" class="control-label"></label>
                <input asp-for="FreeThrowsMade" class="form-control" />
                <span asp-validation-for="FreeThrowsMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FreeThrowsAttempted" class="control-label"></label>
                <input asp-for="FreeThrowsAttempted" class="form-control" />
                <span asp-validation-for="FreeThrowsAttempted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FreeThrowsPercentage" class="control-label"></label>
                <input asp-for="FreeThrowsPercentage" class="form-control" />
                <span asp-validation-for="FreeThrowsPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OffensiveRebounds" class="control-label"></label>
                <input asp-for="OffensiveRebounds" class="form-control" />
                <span asp-validation-for="OffensiveRebounds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefensiveRebounds" class="control-label"></label>
                <input asp-for="DefensiveRebounds" class="form-control" />
                <span asp-validation-for="DefensiveRebounds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rebounds" class="control-label"></label>
                <input asp-for="Rebounds" class="form-control" />
                <span asp-validation-for="Rebounds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assists" class="control-label"></label>
                <input asp-for="Assists" class="form-control" />
                <span asp-validation-for="Assists" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Steals" class="control-label"></label>
                <input asp-for="Steals" class="form-control" />
                <span asp-validation-for="Steals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlockedShots" class="control-label"></label>
                <input asp-for="BlockedShots" class="form-control" />
                <span asp-validation-for="BlockedShots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turnovers" class="control-label"></label>
                <input asp-for="Turnovers" class="form-control" />
                <span asp-validation-for="Turnovers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalFouls" class="control-label"></label>
                <input asp-for="PersonalFouls" class="form-control" />
                <span asp-validation-for="PersonalFouls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlusMinus" class="control-label"></label>
                <input asp-for="PlusMinus" class="form-control" />
                <span asp-validation-for="PlusMinus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
