@model NBAMvc1._1.Models.PlayerSeasonStats

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PlayerSeasonStats</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StatID" />
            <div class="form-group">
                <label asp-for="PlayerID" class="control-label"></label>
                <select asp-for="PlayerID" class="form-control" asp-items="ViewBag.PlayerID"></select>
                <span asp-validation-for="PlayerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Games" class="control-label"></label>
                <input asp-for="Games" class="form-control" />
                <span asp-validation-for="Games" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldGoalsPercentage" class="control-label"></label>
                <input asp-for="FieldGoalsPercentage" class="form-control" />
                <span asp-validation-for="FieldGoalsPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FreeThrowsPercentage" class="control-label"></label>
                <input asp-for="FreeThrowsPercentage" class="form-control" />
                <span asp-validation-for="FreeThrowsPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThreePointersMade" class="control-label"></label>
                <input asp-for="ThreePointersMade" class="form-control" />
                <span asp-validation-for="ThreePointersMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assists" class="control-label"></label>
                <input asp-for="Assists" class="form-control" />
                <span asp-validation-for="Assists" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rebounds" class="control-label"></label>
                <input asp-for="Rebounds" class="form-control" />
                <span asp-validation-for="Rebounds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Steals" class="control-label"></label>
                <input asp-for="Steals" class="form-control" />
                <span asp-validation-for="Steals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlockedShots" class="control-label"></label>
                <input asp-for="BlockedShots" class="form-control" />
                <span asp-validation-for="BlockedShots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turnovers" class="control-label"></label>
                <input asp-for="Turnovers" class="form-control" />
                <span asp-validation-for="Turnovers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
