@model NBAMvc1._1.Models.FantasyLeagueStandings

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FantasyLeagueStandings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FantasyLeagueStandingsID" />
            <div class="form-group">
                <label asp-for="FantasyLeagueID" class="control-label"></label>
                <select asp-for="FantasyLeagueID" class="form-control" asp-items="ViewBag.FantasyLeagueID"></select>
                <span asp-validation-for="FantasyLeagueID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyTeamID" class="control-label"></label>
                <select asp-for="MyTeamID" class="form-control" asp-items="ViewBag.MyTeamID"></select>
                <span asp-validation-for="MyTeamID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wins" class="control-label"></label>
                <input asp-for="Wins" class="form-control" />
                <span asp-validation-for="Wins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Losses" class="control-label"></label>
                <input asp-for="Losses" class="form-control" />
                <span asp-validation-for="Losses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Draws" class="control-label"></label>
                <input asp-for="Draws" class="form-control" />
                <span asp-validation-for="Draws" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FantasyPoints" class="control-label"></label>
                <input asp-for="FantasyPoints" class="form-control" />
                <span asp-validation-for="FantasyPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FantasyPointsAgainst" class="control-label"></label>
                <input asp-for="FantasyPointsAgainst" class="form-control" />
                <span asp-validation-for="FantasyPointsAgainst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GamesBack" class="control-label"></label>
                <input asp-for="GamesBack" class="form-control" />
                <span asp-validation-for="GamesBack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

