@model NBAMvc1._1.Models.FantasyMatchupWeeks

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FantasyMatchupWeeks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FantasyMatchupWeeksID" />
            <div class="form-group">
                <label asp-for="FantasyLeagueID" class="control-label"></label>
                <select asp-for="FantasyLeagueID" class="form-control" asp-items="ViewBag.FantasyLeagueID"></select>
                <span asp-validation-for="FantasyLeagueID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Week1" class="control-label"></label>
                <input asp-for="Week1" class="form-control" />
                <span asp-validation-for="Week1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Week2" class="control-label"></label>
                <input asp-for="Week2" class="form-control" />
                <span asp-validation-for="Week2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Week3" class="control-label"></label>
                <input asp-for="Week3" class="form-control" />
                <span asp-validation-for="Week3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Week4" class="control-label"></label>
                <input asp-for="Week4" class="form-control" />
                <span asp-validation-for="Week4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Week5" class="control-label"></label>
                <input asp-for="Week5" class="form-control" />
                <span asp-validation-for="Week5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Week6" class="control-label"></label>
                <input asp-for="Week6" class="form-control" />
                <span asp-validation-for="Week6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Week7" class="control-label"></label>
                <input asp-for="Week7" class="form-control" />
                <span asp-validation-for="Week7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Week8" class="control-label"></label>
                <input asp-for="Week8" class="form-control" />
                <span asp-validation-for="Week8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

